.connexion-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/backgroundConnexion.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  overflow: hidden;
}

.connexion-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  min-width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  margin: 100px;
}

.connexion-page h1 {
  font-family: var(--secondary-font);
  color: white;
  margin: 0 auto;
  font-size: 54px;
  font-weight: 500;
}

.input-text {
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 16px;
  max-width: 400px;
  min-width: 200px;
}

.white {
  color: white;
}

.green-button {
  background-color: #22b573;
  border-color: #22b573;
  color: white;
  border-radius: 8px;
  width: 55%;
  margin: 0 auto;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: -3%;
  margin-left: 15%;
}

.checkbox {
  margin: 0 8px 0 60px;
}
.checkboxing {
  cursor: pointer;
  margin-right: 8px;
}

.bangers-regular {
  font-family: "Bangers", serif;
  font-weight: 400;
  font-style: normal;
}

.bigger {
  font-weight: 800;
  margin-top: 20px;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.link-inscription {
  font-family: var(--secondary-font);
  color: white;
  margin: 0 auto;
  font-size: 26px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .connexion-container {
    min-width: 400px;
  }
  .connexion-page h1 {
    font-size: 36px;
  }
  .input-text {
    width: 300px;
    height: 25px;
    padding: 8px;
    border-radius: 16px;
  }
}
