.artwork-page {
  background-image: url("/public/background-grey.jpg");
  padding-top: 30px;
}

.galery-main-container {
  background-color: #ffffff8a;
  margin: auto;
  padding: 15px 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
}

.galery-main-container > h1 {
  font-family: Bangers, monospace;
  font-weight: 100;
  font-size: clamp(2em, 6vw, 4.5em);
  text-align: center;
}

.galery-main-container > img,
.galery-main-container > select {
  width: auto;
}

.gallery-card-container {
  gap: 5%;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-card {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #22b573;
  padding: 10px;
  width: 30%;
  gap: 10px;
  border-radius: 15px;
  list-style: none;
  margin-bottom: 30px;
}

.gallery-card > img {
  width: 100%;
}

.gallery-card > p {
  font-family: Montserrat, monospace;
  font-weight: 200;
  font-size: 0.75em;
  text-align: center;
}

.gallery-card > :nth-child(2) {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .gallery-card {
    width: 45%;
  }
}

@media screen and (max-width: 450px) {
  .gallery-card {
    width: 90%;
  }
}
