.artwork-page {
  display: flex;
  background-image: url("/background-grey.jpg");
  background-size: cover;
  justify-content: center;
  padding: 70px;
}
.white-card {
  background-color: #ffffffbb;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  width: 1250px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.white-card h1 {
  font-family: var(--secondary-font);
  font-size: 65px;
  color: black;
  font-weight: 500;
}
.traith1 {
  width: 140px;
}
section.artwork-page .city {
  background-color: black;
  font-family: var(--primary-font);
  color: white;
  padding: 5px;
  border-radius: 23px;
  width: 10em;
  height: 4ch;
  margin-bottom: 10px;
  text-align: center;
}

.container-owerflow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.green-container {
  height: 20em;
  background-color: #22b573;
  border-radius: 15px;
  padding: 20px;
  width: 15em;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: var(--primary-font);
  gap: 15px;
}
.galerie-oeuvre {
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.streetart_title {
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .artwork-page {
    padding: 40px;
  }
}
@media screen and (max-width: 400px) {
  .white-card h1 {
    font-size: 50px;
  }
}
