.body-admin-validation {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-image: url("../../../background-white.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  font-family: var(--primary-font);
  padding: 80px;
  gap: 2vw;
  align-items: center;
}

.main-validation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(34, 181, 115, 1);
  border-radius: 12px;
  padding: 20px;
  width: 450px;
  height: 82vh;
  gap: 12px;
}

.arrow {
  width: 10%;
  height: 10%;
}

.main-validation-card-comparaison {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(34, 181, 115, 1);
  border-radius: 12px;
  padding: 20px;
  width: 450px;
  height: 82vh;
  gap: 14px;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.main-validation-card-comparaison p {
  color: white;
}

.new-street-art-photo {
  height: 45%;
  border-radius: 8px;
  margin-bottom: 1.5%;
}

.street-art-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2%;
}

.street-art-info label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}
.description {
  height: 70%;
  width: 20vw;
}

.input-validation {
  border-radius: 8px;
  height: 24px;
  padding: 8px;
  border-style: none;
  width: 300px;
}
.points {
  width: 46px;
  height: 24px;
  border-style: none;
  padding: 4px;
}

.validation-button-container {
  height: 30%;
}
.accepted-or-refused-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  height: 18%;
}

.brown-button-admin {
  border-radius: 8px;
  border-style: none;
  background-color: rgb(255 255 255);
  color: #22b573;
  font-size: 1.2rem;
  padding: 12px;
  font-family: var(--primary-font);
  text-align: center;
  width: 170px;
  font-weight: 600;
}

.brown-button-admin-ban {
  border-radius: 8px;
  border-style: none;
  background-color: rgb(27 27 27);
  color: white;
  font-size: 1.2rem;
  padding: 12px;
  font-family: var(--primary-font);
  text-align: center;
  width: 350px;
  font-weight: 600;
}

.brown-button-admin:hover {
  cursor: pointer;
}

.admin-validation-message {
  top: 0%;
  background-color: rgba(34, 181, 115, 1);
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  z-index: 1000;
  color: white;
  padding: 12px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: var(--primary-font);
}

.next-button {
  color: rgba(34, 181, 115, 1);
  font-size: 4rem;
  font-weight: bold;
  background: none;
  border-style: none;
}

.next-button:hover {
  cursor: pointer;
}

.no-art-piece {
  color: white;
  text-align: center;
  font-size: 2.2rem;
  padding: 28px;
}

.arrow-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2%;
}

.validation-arrow-button {
  height: 10vh;
  width: 10vh;
  border-radius: 100%;
  border: none;
}

.validation-arrow-image {
  height: 6vh;
  margin: -6%;
}

.rotation {
  rotate: 180deg;
}

.index-validation {
  top: 3%;
  right: 0%;
  z-index: 1;
}

@media screen and (max-width: 1050px) {
  .body-admin-validation {
    display: flex;
    flex-direction: column;
    padding: 70px;
    gap: 40px;
  }
  .arrow {
    width: 100px;
    height: 70px;
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 600px) {
  .main-validation-card {
    width: 400px;
    justify-content: space-evenly;
  }
  .new-street-art-photo {
    height: 35%;
  }
  .form-validation-container {
    gap: 18px;
  }
  .main-validation-card-comparaison {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .main-validation-card {
    width: 300px;
  }
  .new-street-art-photo {
    height: 30%;
  }
  .input-validation {
    width: 270px;
  }

  .brown-button-admin {
    width: 120px;
  }
  .brown-button-admin-ban {
    width: 220px;
  }
  .main-validation-card-comparaison {
    width: 300px;
  }
}
