.pieces_data {
  display: flex;
  gap: 24px;
  color: white;
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 500;
  align-items: center;
}

.red_stats {
  color: #cf4c52;
  font-family: var(--secondary-font);
  font-size: 50px;
}

@media screen and (max-width: 600px) {
  .pieces_data {
    gap: 20px;
    font-size: 28px;
    flex-direction: column;
    text-align: center;
  }

  .red_stats {
    font-size: 28px;
  }
}
