.stats-main-container {
  display: flex;
  justify-content: center;
  background-image: url("./background_statistic.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.stats-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.stats-container > span > ul {
  list-style: none;
}
