.admin-art-piece-edit-modal {
  background-color: #1fa76a;
  box-shadow: 0px 0px 13px 2px black;
  position: fixed;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  border-radius: 23px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 2.5vh 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  height: 80vh;
}

.admin-art-piece-edit-modal > h3 {
  font-size: 2em;
  text-align: center;
}

.admin-art-piece-edit-modal > label {
  display: flex;
  flex-direction: column;
}

.admin-art-piece-edit-modal > label > input,
.admin-art-piece-edit-modal > label > textarea {
  margin-top: 4px;
  padding: 4px;
  width: 300px;
  justify-content: center;
  font-family: var(--primary-font);
  border-radius: 15px;
  border: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

.admin-art-piece-edit-modal > label > textarea {
  margin: 8px 0 0 0;
  height: 3em;
  resize: none;
}

.admin-art-piece-edit-modal button,
.admin-art-piece-edit-modal input[type="submit"],
.admin-art-piece-edit-modal input[type="button"] {
  background-color: black;
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 23px;
  width: 15em;
  height: 4ch;
  margin-bottom: 10px;
  text-align: center;
  font-family: var(--primary-font);
}
@media screen and (max-width: 600px) {
  .admin-art-piece-edit-modal {
    top: 5vh;
    left: 10vw;
    height: 90vh;
    width: 80vw;
    padding: 5px;
  }
  .admin-art-piece-edit-modal > label > input,
  .admin-art-piece-edit-modal > label > textarea {
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  .admin-art-piece-edit-modal {
    height: 90vh;
  }
  .admin-art-piece-edit-modal > label > input,
  .admin-art-piece-edit-modal > label > textarea {
    width: 100%;
  }
}
